---
import type { ImageListResponse } from "../interfaces/image.response";
import Image from "astro/components/Image.astro";

interface Props {
    images: ImageListResponse[];
}

const { images } = Astro.props;
---

<div class="gallery mx-auto" id="gallery">
    {
        images.map((image) => (
            <a
                href={`/image/${image.id}`}
                class="masonry block overflow-hidden shadow-md"
                data-gallery="my-gallery"
            >
                <div class="img-container relative">
                    <Image
                        src={image.preview_url}
                        alt={image.owner}
                        loading="lazy"
                        quality="mid"
                        class="w-full object-contain"
                        layout="responsive"
                        width={image.width}
                        height={image.height}
                    />
                </div>
            </a>
        ))
    }
</div>

<script>
    import Masonry from "masonry-layout";

    document.addEventListener("DOMContentLoaded", () => {
        const galleryElement = document.getElementById("gallery");

        if (galleryElement) {
            const masonry = new Masonry(galleryElement, {
                itemSelector: ".masonry",
                columnWidth: ".masonry",
                gutter: 8,
            });
        }
    });
</script>

<style>
    .gallery {
        padding: 1rem;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        background-color: #181818;
    }

    .masonry {
        position: relative;
    }

    .masonry img {
        max-height: 500px;
        transition: all 0.6s;
    }

    .masonry img:hover {
        transform: scale(1.1);
        filter: brightness(0.8);
    }

    .gallery .masonry {
        width: 13%;
        margin-bottom: 1rem;
    }

    @media (max-width: 1024px) {
        .gallery .masonry {
            width: 18%;
        }
    }

    @media (max-width: 768px) {
        .gallery .masonry {
            width: 31%;
        }
    }

    @media (max-width: 640px) {
        .gallery .masonry {
            width: 45%;
        }
    }
</style>
