---
import type { ImageListResponse } from "../interfaces/image.response";
import Image from "astro/components/Image.astro";

interface Props {
    images: ImageListResponse[];
}

const { images } = Astro.props;
---

<div class="gallery mx-auto" id="gallery">
    {
        images.map((image) => (
            <a
                href={`/image/${image.id}`}
                class="gallery-item"
                data-gallery="my-gallery"
            >
                <Image
                    src={image.preview_url}
                    alt={image.owner}
                    loading="lazy"
                    quality="mid"
                    class="gallery-image"
                    layout="responsive"
                    width={image.width}
                    height={image.height}
                />
            </a>
        ))
    }
</div>

<script>
    import Masonry from "masonry-layout";

    document.addEventListener("DOMContentLoaded", () => {
        const galleryElement = document.getElementById("gallery");

        if (galleryElement) {
            const masonry = new Masonry(galleryElement, {
                itemSelector: ".gallery-item",
                columnWidth: ".gallery-item",
                gutter: 8,
            });
        }
    });
</script>

<style>
    .gallery {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(250px, 1fr)
        );
        grid-auto-rows: 1fr;
        gap: 16px;
        padding: 1rem;
        background-color: #181818;
    }

    .gallery-item {
        overflow: hidden;
        border-radius: 4px;
    }

    .gallery-image {
        max-height: 500px;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s ease, filter 0.3s ease;
        will-change: transform;
    }

    .gallery-image:hover {
        transform: scale(1.05);
        filter: brightness(0.8);
    }

    .gallery .gallery-item {
        width: 13.5%;
        margin-bottom: 1rem;
    }

    @media (max-width: 1530px) {
        .gallery .gallery-item {
            width: 15%;
        }
    }

    @media (max-width: 1024px) {
        .gallery .gallery-item {
            width: 18%;
        }
    }

    @media (max-width: 768px) {
        .gallery .gallery-item {
            width: 30%;
        }
    }

    @media (max-width: 640px) {
        .gallery .gallery-item {
            width: 44.5%;
        }
    }

    @media (max-width: 380px) {
        .gallery .gallery-item {
            width: 90%;
        }

        .gallery-image {
            max-height: 300px;
        }
    }
</style>
